*.so
*.o
*.out
*.a
*.txt
*.log
*.obj
*test*
*.tmp
*.ppm
raytracer
ppm_to_png
*.png
compile_commands.json
.cache
*.data
*.old
*perf
*pl
*.folded
*.svg

#Tests directory
!tests/
!tests/**/
!tests/**
!.github/workflows/run-tests.yml


# ── Coverage Data & Reports ──
*.profraw
*.profdata
lcov.info
*.html
*.css

# ── Test Binaries ──
tests/rt_unit_tests
tests/rt_integration_tests
tests/rt_functional_tests