# =========================
# SCENE
# =========================
scene = {
    width = 8000
    height = 4000
    brightness = 0.9
    max_depth = 4

    antialiasing = {
        technique = "supersampling";
        samples = 4; # number of samples per pixel. 4 means 2x2 grid
    };

}

# =========================
# CAMERA
# =========================


camera = {
   origin = [0, 1, 1]#: point
   direction = [0.0, -0.2, -1.0]#:vector
   zoom = 0.9#: double
}

# =========================
# SHAPES
# =========================
shapes = (

    # --- Center sphere ---
    {
        type = "sphere"
        origin = [0.0, 0.0, -1.5]
        radius = 0.5
        color = "red"
    },

    # --- Left sphere ---
    {
        type = "sphere"
        origin = [-1.0, 0.0, -2.0]
        radius = 0.5
        color = "blue"
    },

    # --- Right sphere ---
    {
        type = "sphere"
        origin = [1.0, 0.0, -2.0]
        radius = 0.5
        color = "green"
    },

    # --- yellow sphere ---
    {
        type = "sphere"
        origin = [0.9, 1.5, -3.0]
        radius = 0.5
        color = "yellow"
    },

    {
        type = "cylinder"
        origin = [-2.0, -0.7, -2.1]
        axis = [0.0, 1.0, 0.0]
        radius = 0.3
        height = 0.8
        color = "red"
    },

    # --- Ground plane ---
    {
        type = "plane"
        normal = [0, 1, 0]
        point = [0.0, -0.5, 0.0]
        color = "white"
        reflectivity = 0.15
        #chessboard_pattern = true
    },

    #lets add a vertical plane to the right side

    {
        type = "plane"
        normal = [1.0, 0.1, 0.15] #very slight rotation to avoid perfect parallelism with the camera rays
        point = [-2.0, 0.0, -2.5]
        color = "magenta"
        reflectivity = 0.01
        chessboard_pattern = true
    },

    # --- Cone facing Y axis (upward) ---
    {
        type = "cone"
        origin = [0.0, -0.5, -3.0]
        axis = [0.0, 1.0, 0.0]
        radius = 0.4
        height = 1.0
        color = "cyan"
    },

    # --- Cone facing X axis (rightward) ---
    {
        type = "cone"
        origin = [1.5, 0.3, -3.5]
        axis = [1.0, 0.0, 0.0]
        radius = 0.4
        height = 1.0
        color = "magenta"
    },

    # --- Cone facing Z axis (into scene) ---
    {
        type = "cone"
        origin = [-1.5, 0.3, -2.5]
        axis = [0.0, 0.0, -1.0]
        radius = 0.4
        height = 1.0
        color = "white"
    }
)

# =========================
# LIGHTS
# =========================
lights = (

    {
        type = "directional"
        direction = [-1, -1, -1]
        brightness = 0.8
        color_vector = [255, 255, 255]
    },

    {
        type = "specular"
        direction = [-1, -1, -1]
        brightness = 1.0
        shininess = 128.0
        specular_strength = 1.0
    },

    {
        type = "ambient"
        brightness = 0.8
        color_vector = [255, 255, 255]
    }
)